<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<title>Room</title>
	
	<link rel="stylesheet" href="styles/styles.css">

	<!-- Room EJS -->

	<script type="text/javascript">
		var roomID = "<%= RoomId %>"
	</script>
	
	<!-- Icons -->
	<script defer src="https://kit.fontawesome.com/e8469f8d32.js" crossorigin="anonymous"></script>
	<!-- Peerjs -->
	<script src="https://unpkg.com/peerjs@1.3.1/dist/peerjs.min.js" defer></script>
	<!-- Socket -->
	<script src="socket.io/socket.io.js" defer></script>
	<!-- Client -->
	<script src="index.js" charset="utf-8" defer></script>
</head>

<body>
	<div class="head" style="position: fixed; top: 0; background-color: #1e3660; width: 100%; height: 5px;"></div>

	<!-- Video Container -->
	<div id = "videoDiv"></div>
	<div id = "myVideo"></div>
	

	<!-- Media Buttons -->
	
	<button title="Toggle Video" class="icon-btn" id = "ibtn1"><i onclick="toggleVideo(this)" class="fas fa-video fa-2x" style="color: darkslategrey;"></i></button>
	<button title="Toggle Audio" class="icon-btn" id = "ibtn3"><i onclick="toggleAudio(this)" class="fas fa-microphone fa-2x" style="color: darkslategrey;"></i></button>
	<button title="Share Screen" class="icon-btn" id = "ibtn4"><i onclick="screenToggle()" class="fas fa-desktop fa-2x" style="color: darkslategrey;"></i></button>
	<button title="Copy Meet URL" class="icon-btn" id = "ibtn5"><i onclick="copyURL()" class="fas fa-copy fa-2x" style="color: darkslategrey;"></i></button>
	<button title="Leave Meet" onclick="disconnectCall()" alt="Disconnect Call" class="icon-btn" id = "ibtn2"><i class="fas fa-phone-slash fa-2x" style="color: red;"></i></button>

	<!-- Clip Board Input -->
	<input placeholder="Meet URL" type="text" id="copyText">

	<!-- Message Container -->
	
	<div class="container"><div id="header">Chat Box</div></div> 
	<div id="screenContainer"></div>
	<div class="send">
        <form action="#" id="send-container">
            <input placeholder="Send Message" type="text" name="messageInp" id="messageInp">
            <button class="btn" type="submit">Send</button>
        </form>
    </div>

	<div class="footer" style="position: fixed; bottom: 0; background-color: #1e3660; width: 100%; height: 10px; border-radius: 50%;"></div>
	
</body>

</html>